
html {
background: #CFEFEE;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
}

/************ sign in and sign up div position******** */

#navcontainer {
	margin-top: 95px;
	margin-bottom: 75px;
	margin-right: 160px;


} 

/*********** sign in and sign up margins*********/

#navlist li {
	text-align: right;
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
	list-style-position: right;
	float: right;

}



/********sign in and sign up font**********/

#navlist a {
	color: #69C4CC;
}


#navlist {
	color: #69C4CC;
}


/********get the rounded squared **********/

#backgroundBox {
	display: inline-block;
	z-index: 998;
    width: 1000px;
    height: 950px;
    border-radius: 5%;
    position: absolute;
    left: 150px;
    top: 120px;
    background: #FFF;
}


/********logo and pillbox tables**********/

#LogoDiv {
	position: absolute;
	left: 150px;
	top: 75px;
	z-index: 999;
}


.pillBoxCell {
	text-decoration: none;
	color: white;
	text-align: center;
	vertical-align: middle;

}

.pillBoxTable {
	table-layout: fixed;
	position: absolute;
	right: -500px;
	top: 85px;

}

/********peach nav bar **********/
/*#peachNavBar li {
	text-align: right;
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
	list-style-position: right;
	float: right;

}*/

/*#peach a {
	color: #6F1549;
	font-family: georgia;
	font-weight: bold;
	font-size: 24px;
}*/

.peachNavBar {
	list-style-type: none;
	margin-top: 185px;
	background: #F3CECD;
	position: absolute;
	z-index: 999;
} 

#peachNavBarCell {
	text-align: center;
	color: #6F1549;
	text-align: none;
	font-family: georgia;
	font-weight: bold;
	font-size: 24px;
	

}

.peachNavBarCell2 {
	text-align: center;


}
input[type=text] {
	width: 135px;
	padding: 3px;
	outline: none;
	border: 2px solid #6F1549;
	border-radius: 15px;
	background-color: white;
	background-image: url('http://www.kirupa.com/images/search.png');
	background-position: 10px -10px;
	background-repeat: no-repeat;
	color: #F3CECD;
	text-align: left;


}

input[type=text] {
	color: #F3CECD;
}



/*#About {
    position: absolute;
    top: 1em;
    right: 2em;
    width: 120px;
    font-weight: bold;
    font-size: 11px;
    color: white;
  } */


/********get the rounded green search square **********/

#backgroundSearchBox {
	display: inline-block;
	z-index: 999;
    width: 300px;
    height: 650px;
    border-radius: 10%;
    position: absolute;
    left: 180px;
    top: 345px;
    background: #EDFAD1;
}

/************ green square search text******** */

#searchHeader {

	color: #90BB38;
	font-size: 18px;
	letter-spacing: .1px;
	text-align: center;
	margin: 10px 0 0 0;

}

/************ underline under search ******** */

#underLine {
	color: #90BB38;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	margin: -5px 0 10px 0;
}

/************ green search box form******** */

input[type=text2] {
	width: 170px;
	height: 25px;
	padding: 3px;
	margin: 3px 0 0 15px;
	outline: none;
	border:	1px white;
	background-color: white;
	text-align: left;

}

.styled-button-5 {
	position: absolute;
	top: 54px;
	left: 200px;
	background-color:#90BB38;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	width:90px;
	height:30px;
}                



.pillBoxCell2 {
	text-decoration: none;
	color: white;
	text-align: center;
	vertical-align: middle;

}


/************ sign in and sign up div position******** */

#footerContainer {
	/*margin-top: 95px;
	margin-bottom: 75px;
	margin-right: 160px;*/


} 

/*********** footer/section margins*********/

#hopefully {
	position: absolute;
	z-index: 997;
	top: 300px;
	height: 1000px;
	width: 2000px;
    background-color: #69C4CC;
    /*margin: 200px 0 0;*/

  }

footer {
	clear: both;
    position: absolute;
    z-index: 998;
    top: 1150px;
    left: 300px;
    height: 3em;
    margin-top: -3em;
    background-color: #69C4CC;
}

#footerList li{
	text-align: right;
	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
	list-style-position: right;


}

#footerList a{
	color: #D5F1F0;
}

#footerList {
	color: #D5F1F0;
}



/********sign in and sign up font**********/

#navlist a {
	color: #69C4CC;
}


#navlist {
	color: #69C4CC;
}

